#header {
  display: flex;
  font-size: 16px;
  padding: 0 2em 1em 2em;
  position: relative;
  width: calc(100% - 4em);
  justify-content: flex-end;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: 79%;
  position: absolute;
  left: 2em;
  bottom: 0;
}

.link-active {
  font-weight: bold;
}

.nav-links {
  justify-content: space-between;
  display: flex;
  transition: all 0.5s 0s ease-in;
  align-items: center;
  width: 55%;
}

.nav-links > li {
  padding-bottom: 10px;
  height: 100%;
  border-radius: 0 0 10px 10px;
  transition: all 0.25s 0s ease;
}

.nav-links > li > a {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 1em;
}
.nav-links > li:hover {
  background: var(--color-light-gray-15);
}

/* class */
.button-burguer {
  position: absolute;
  top: 5%;
  right: 2.5em;
  display: none;
}

.button-burguer > div {
  width: 25px;
  height: 5px;
  background: var(--color-orange-dark);
  margin: 3px;
  transition: all 0.25s 0s ease-in;
}

.nav-links.--active {
  opacity: 1;
  transform: translateX(0);
}

.overflow-hidden {
  overflow: hidden;
}

.line1.--toggle {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.line2.--toggle {
  opacity: 0;
}
.line3.--toggle {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Large devices (desktops, less than 1366px) */
@media screen and (max-width: 1366px) {
  #header {
    padding: 0 0 1em 0;
  }
}

/* Large devices (desktops, less than 1280px) */
@media screen and (max-width: 1280px) {
  #header {
    width: calc(100% - 2em);
  }
  .nav-links {
    width: 60%;
  }
}

/* Medium devices (tablets, less than 1024px) */
@media screen and (max-width: 1024px) {
  #header {
    width: 100%;
  }
  .nav-links {
    width: 70%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #header {
    height: 12vh;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: var(--color-white-to-bottom);
  }

  .logo {
    bottom: 5%;
  }

  #root > #container > #content > section {
    padding-top: 12vh;
  }

  .button-burguer {
    display: block;
    cursor: pointer;
    top: 35%;
    right: 2em;
  }

  .nav-links {
    flex-direction: column;
    width: 100vw;
    margin-top: 12vh;
    height: 88vh;
    z-index: 1;
    justify-content: space-around;
    background: var(--color-white-75);
    border-top: 2px solid var(--color-orange-dark);
    color: var(--color-white);
    font-size: 2em;
    letter-spacing: 10px;
    opacity: 0;
    transform: translateX(-100%);
  }

  .nav-links > li {
    width: 100%;
    padding: 0;
    border-radius: 0;
    transform: none;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    border-style: none;
    padding: 0;
    /* background: var(--color-orange-dark-to-right); */
    background: var(--color-orange-transparent-middle);
  }

  .nav-links > li:hover {
    background: var(--color-white);
    color: var(--color-orange-dark);
  }

  .nav-links > li > a {
    display: flex;
    height: 100%;
    width: 90%;
    border-bottom: 2px solid var(--color-orange-dark);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

/* Extra small devices (portrait phones, less than 640px) */
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  #header {
    font-size: 10px;
  }

  #header .logo {
    width: 50%;
    height: 60%;
    bottom: 15%;
    left: 0;
  }
}

@media screen and (max-width: 320px) {
  #header .logo {
    left: -15px;
    width: 55%;
    height: 75%;
  }
  .line1.--toggle {
    transform: rotate(-45deg) translate(-3px, 3px);
  }
  .button-burguer > div {
    width: 20px;
    height: 3px;
  }
}
