#aboutUs {
  max-width: 1368px;
  margin: 0 auto;
  font-size: 16px;
}

#aboutUs .container {
  display: flex;
  min-height: 100vh;
  position: relative;
  margin-top: -0.5em;
}

#aboutUs .container .socialNetwork {
  color: var(--color-white);
  position: absolute;
  right: 15px;
  transform: translateY(70vh);
  height: 100px;
}

#aboutUs .container .info {
  position: relative;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em;
}

#aboutUs .container .image {
  flex: 3;
}

#aboutUs .container .info .title {
  color: var(--color-orange-dark);
  font-size: 2.5em;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

#aboutUs .container .info .title > .imagePlane {
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

#aboutUs .container .info .title > span:nth-of-type(1) {
  margin-left: 0.85em;
  font-size: 0.85em;
  font-weight: 500;
}

#aboutUs .container .info .title > span:nth-of-type(2) {
  font-weight: bold;
  font-size: 1.25em;
  transform: translateY(-14px);
}

#aboutUs .container .info .text {
  flex: 2;
  font-size: 0.9em;
  line-height: 1.5em;
}
#aboutUs .container .info .moreInfoButton {
  flex: 1.5;
}

/* Large devices (desktops, less than 1366px) */
@media screen and (max-width: 1366px) {
}

/* Large devices (desktops, less than 1280px) */
@media screen and (max-width: 1280px) {
}

/* Medium devices (tablets, less than 1024px) */
@media screen and (max-width: 1024px) {
  #aboutUs .container .socialNetwork {
    transform: translateY(63vh);
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  #aboutUs .container {
    flex-direction: column;
    margin: 0;
  }

  #aboutUs .container .info {
    flex: none;
    padding: 0 3em;
    margin-bottom: 1em;
  }

  #aboutUs .container .info .title,
  #aboutUs .container .info .text {
    flex: 0;
    padding: 1em 0;
    flex: none;
  }

  #aboutUs .container .info .title {
    padding: 0;
  }

  #aboutUs .container .info .title > .imagePlane {
    height: 140%;
    top: 25px;
    right: 10px;
    left: auto;
  }

  #aboutUs .container .info .moreInfoButton {
    width: fit-content;
    margin: 1em 0;
  }

  #aboutUs .container .image {
    flex: auto;
    width: 80%;
    margin: 0 auto;
    background-position-x: center !important;
  }

  #aboutUs .container .socialNetwork {
    right: 85px;
    transform: translateY(77vh);
  }
}

/* Extra small devices (portrait phones, less than 640px) */
@media screen and (max-width: 640px) {
  #aboutUs .container .socialNetwork {
    right: 75px;
    transform: translateY(75vh);
  }
}

@media screen and (max-width: 480px) {
  #aboutUs .container .socialNetwork {
    right: 20px;
    transform: translateY(70vh);
    color: var(--color-light-gray-75);
  }

  #aboutUs .container .info {
    justify-content: flex-start;
  }
  #aboutUs .container .info .moreInfoButton {
    flex: none;
  }
  #aboutUs .container .info .title > .imagePlane {
    height: 115%;
    top: 25px;
    right: -15px;
  }
}

/* Extra small devices (portrait phones, less than 320px) */
@media screen and (max-width: 320px) {
}
