#jobs {
  font-size: 16px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;

  & .backHome {
    position: absolute;
    bottom: 2em;
    right: 2em;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

#jobs .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

/* TITLE */
#jobs .container > .title {
  padding: 1em 0;
  font-size: 2em;
}

/* GRID IMAGES */
#jobs .container > .grid-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;
}

/* CIRCLE AND ARROW IMAGE */
#jobs .container > .imageCircle {
  position: absolute;
  left: 170px;
  top: 80px;
  height: 125px;
  width: 125px;
  z-index: -1;
}

#jobs .container > .imageArrow {
  position: absolute;
  right: 120px;
  top: 80px;
  width: 80%;
  height: 160px;
  z-index: -1;
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1280px) {
  #jobs .container > .imageCircle {
    left: 10%;
    top: 8%;
  }
  #jobs .container > .imageArrow {
    top: 6%;
    right: 3%;
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .image-container {
    width: 50%;
    height: 380px;
  }
  #jobs .container > .imageCircle {
    left: 16%;
    top: 3%;
  }
  #jobs .container > .imageArrow {
    width: 65%;
    top: 3%;
  }
}

@media screen and (max-width: 860px) {
  #jobs .container > .imageCircle {
    left: 4%;
    top: 2%;
    opacity: 0.5;
  }
  #jobs .container > .imageArrow {
    width: 70%;
    top: 2%;
    opacity: 0.5;
  }
  #jobs .container > .grid-image {
    padding: 0;
  }
  #jobs .container > .grid-image > .image-container {
    width: 75%;
    height: 410px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  #jobs .container > .title {
    padding: 0.5em 0;
  }
  #jobs .container > .imageCircle {
    height: 75px;
    left: 0;
    top: 3%;
  }
  #jobs .container > .imageArrow {
    height: 75px;
    width: 65%;
    top: 3%;
  }
  #jobs .container > .grid-image > .image-container {
    height: 360px;
  }
}

@media screen and (max-width: 480px) {
  #jobs .container > .title {
    padding: 0;
    font-size: 1.5em;
  }
  #jobs .container > .grid-image > .image-container {
    height: 317px;
    width: 80%;
    margin: 1em 0;
  }
  #jobs .container > .imageCircle {
    height: 50px;
    left: -25px;
    top: 1%;
  }
  #jobs .container > .imageArrow {
    height: 80px;
    width: 70%;
    top: 0%;
  }
}
