#contact {
  background: var(--color-light-gray-15);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;

  > .container {
    width: 100%;
    position: relative;

    > .contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 60%;
      font-weight: normal;
      position: relative;
      margin: 0 auto;

      > .title {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 2em;
      }

      > form {
        > div {
          width: 100%;
        }
        & .button-Send {
          padding: 1.5em 0;
          flex: 1;
        }
        & .inputs {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          > .container-input,
          .container-textarea {
            display: flex;
            flex-direction: column;
            margin: 1em 0;
          }
          > .container-input {
            width: 45%;
            > .inputText {
              padding: 1em 0.5em;
              min-width: 200px;
              outline: none;
              border-style: none;
              border-bottom: 1px solid var(--color-orange);
              background: transparent;
              &.isInvalid {
                border-style: none;
                border: 1px solid rgba(255, 0, 0, 0.35);
                border-left: 5px solid red;
              }
            }
          }
          > .container-textarea {
            width: 100%;
            > .inputTextArea {
              padding: 1em 0.5em;
              resize: none;
              min-height: 150px;
              outline: none;
              height: 100%;
              border-style: none;
              border-bottom: 1px solid var(--color-orange);
              background: transparent;
              &.isInvalid {
                border-style: none;
                border: 1px solid rgba(255, 0, 0, 0.35);
                border-left: 5px solid red;
              }
            }
          }
        }
        & .input-textarea {
          display: flex;
          flex-direction: column;
          flex: 2;
        }
      }
    }

    > .socialNetwork {
      position: absolute;
      top: 50%;
      right: 13%;
      transform: translateY(-60%);
      color: var(--color-light-gray);
    }

    > .imageEnvelope {
      position: absolute;
      bottom: 20px;
      right: 140px;
      width: 175px;
      height: 175px;
      z-index: -1;
      opacity: 0.25;
    }
  }
}

/* Large devices (desktops, less than 1366px) */
@media screen and (max-width: 1366px) {
  #contact {
    height: 100vh;
  }
}

/* Large devices (desktops, less than 1280px) */
@media screen and (max-width: 1280px) {
}

/* Medium devices (tablets, less than 1024px) */
@media screen and (max-width: 1024px) {
  #contact {
    > .container {
      > .contacto {
        width: 70%;
      }
      > .socialNetwork {
        right: 7.5%;
      }
    }
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  #contact {
    height: auto;
    padding: 0 1em;
    > .container {
      padding-top: 1em;
      > .contacto {
        width: 90%;
        > .inputs {
          > div {
            width: 100%;
          }
        }
      }

      > .socialNetwork {
        right: 0;
      }

      > .imageEnvelope {
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #contact {
    > .container {
      > .contacto {
        width: 90%;
      }
      > .socialNetwork {
        right: -10px;
      }
      > .imageEnvelope {
        width: 150px;
        height: 155px;
        right: -20px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #contact {
    font-size: 20px;
    > .container {
      > .contacto {
        width: 100%;
        justify-content: space-between;
        > .title {
          margin: 0.5em 0;
          font-weight: 500;
          font-size: 1.25em;
        }
        > form {
          flex: 1;
          display: flex;
          flex-direction: column;

          & .button-Send {
            padding: 1em 0;
            flex: none;
          }
          & .inputs {
            > div {
              margin: 0.75em 0;
            }
            > .container-input {
              width: 100%;
              font-size: 0.75em;

              > .inputText {
                padding: 0.75em;
              }
            }
            > .container-textarea {
              margin: 0;
              width: 100%;
              font-size: 0.75em;

              > .inputTextArea {
                flex: 1;
              }
            }
          }
        }
      }
      > .socialNetwork {
        display: none;
      }
      > .imageEnvelope {
        width: 40%;
        height: 125px;
        right: -10px;
      }
    }
  }
}
