#contact {
  background: var(--color-light-gray-15);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .container {
  // height: 100%;
  width: 100%;
  position: relative;
  // max-width: 1368px;
  // margin: 0 auto;
}

#contact .container .imageEnvelope {
  position: absolute;
  bottom: 20px;
  right: 140px;
  width: 175px;
  height: 175px;
  z-index: -1;
  opacity: 0.25;
}

#contact .container .contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 60%;
  font-weight: normal;
  position: relative;
  margin: 0 auto;
}

#contact .container .contacto .title {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact .container .contacto .button-Send {
  padding: 1.5em 0;
  flex: 1;
}

#contact .container .socialNetwork {
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translateY(-60%);
  color: var(--color-light-gray);
}

#contact .container .contacto form > div {
  font-size: 0.65em;
  width: 100%;
}

#contact .container .contacto .inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact .container .contacto .input-textarea {
  display: flex;
  flex-direction: column;
  flex: 2;
}

#contact .container-input,
#contact .container-textarea {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
#contact .container-input {
  width: 45%;
}
#contact .container-textarea {
  width: 100%;
}

#contact .inputText {
  padding: 1em 0.5em;
  min-width: 200px;
  outline: none;
  border-style: none;
  border-bottom: 1px solid var(--color-orange);
  background: transparent;
}

#contact .inputTextArea {
  padding: 1em 0.5em;
  resize: none;
  min-height: 150px;
  outline: none;
  height: 100%;
  border-style: none;
  border-bottom: 1px solid var(--color-orange);
  background: transparent;
}

#contact .isInvalid {
  border-style: none;
  border: 1px solid rgba(255, 0, 0, 0.35);
  border-left: 5px solid red;
}

/* Large devices (desktops, less than 1366px) */
@media screen and (max-width: 1366px) {
  #contact {
    height: 100vh;
  }
}

/* Large devices (desktops, less than 1280px) */
@media screen and (max-width: 1280px) {
}

/* Medium devices (tablets, less than 1024px) */
@media screen and (max-width: 1024px) {
  #contact .container .contacto {
    width: 70%;
  }

  #contact .container .socialNetwork {
    right: 7.5%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  #contact {
    height: auto;
    padding: 0 1em;
  }

  #contact .container {
    padding-top: 1em;
  }

  #contact .container .contacto {
    width: 90%;
  }

  #contact .container .contacto .inputs > div {
    width: 100%;
  }

  #contact .container .socialNetwork {
    right: 0;
  }

  #contact .container .imageEnvelope {
    right: 0;
  }
}

@media screen and (max-width: 640px) {
  #contact .container .contacto {
    width: 100%;
  }

  #contact .container .socialNetwork {
    right: -35px;
  }

  #contact .container .imageEnvelope {
    width: 150px;
    height: 155px;
    right: -20px;
  }
}

@media screen and (max-width: 480px) {
  #contact {
    font-size: 20px;
  }

  #contact .inputText {
    padding: 0.75em;
  }

  #contact .container .contacto .input-textarea {
    flex: 1;
  }

  #contact .container .contacto .inputTextArea {
    padding: 0.75em;
    margin: 0;
  }

  #contact .container .contacto {
    width: 100%;
    justify-content: space-between;
  }

  #contact .container .contacto > form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0.75em;
  }

  #contact .container .contacto .title {
    margin: 0.5em 0;
    font-weight: 500;
    font-size: 1.25em;
  }

  #contact .container .contacto .inputs > div {
    margin: 0.75em 0;
  }

  #contact .container .contacto .button-Send {
    padding: 1em 0;
    flex: none;
  }

  #contact .container .socialNetwork {
    display: none;
  }

  #contact .container .imageEnvelope {
    width: 40%;
    height: 125px;
    right: -10px;
  }
}
