#jobs {
  font-size: 16px;
  max-width: 1368px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#jobs .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -0.5em;
}

#jobs .container > span {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85px;
  padding: 1em 0;
}

#jobs .container > .imageCircle {
  position: absolute;
  left: 170px;
  top: 80px;
  height: 125px;
  width: 125px;
  z-index: -1;
}

#jobs .container > .imageArrow {
  position: absolute;
  right: 120px;
  top: 80px;
  width: 80%;
  height: 160px;
  z-index: -1;
}

#jobs .grid-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

/* Large devices (desktops, less than 1366px) */
@media screen and (max-width: 1366px) {
}

/* Large devices (desktops, less than 1280px) */
@media screen and (max-width: 1280px) {
  #jobs .container > .imageCircle {
    left: 125px;
    top: 85px;
  }
  #jobs .container > .imageArrow {
    right: 60px;
  }
}

/* Medium devices (tablets, less than 1024px) */
@media screen and (max-width: 1024px) {
  .image-container {
    margin: 1em 1.5em;
  }

  #jobs .container > .imageCircle {
    left: 40px;
    top: 85px;
  }

  #jobs .container > .imageArrow {
    right: 5px;
    top: 80px;
    width: 65%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  #jobs .container > .imageCircle {
    left: 125px;
    top: 55px;
    width: 90px;
  }

  #jobs .container > .imageArrow {
    right: 100px;
    top: 55px;
    width: 55%;
    height: 80px;
  }

  #jobs .container > span {
    padding: 0;
  }

  #contact .container .contacto .button-Send {
    padding: 0.5em 0 1.5em 0;
  }
}

/* Extra small devices (portrait phones, less than 640px) */
@media screen and (max-width: 640px) {
  #jobs .container > .imageCircle {
    left: 80px;
    top: 55px;
    width: 80px;
  }

  #jobs .container > .imageArrow {
    right: 45px;
    top: 60px;
    width: 65%;
    height: 80px;
  }
}

/* Extra small devices (portrait phones, less than 480px) */
/* @media screen and (max-width: 480px) {
  #jobs .container > .imageCircle {
    left: 15px;
  }

  #jobs .container > .imageArrow {
    right: 25px;
    top: 40px;
  }
} */

/* Extra small devices (portrait phones, less than 320px) */
@media screen and (max-width: 480px) {
  #jobs .container > span {
    font-size: 20px;
    font-weight: 500;
    min-height: 55px;
  }

  #jobs .image-container {
    width: 80%;
  }

  #jobs .grid-image {
    padding-bottom: 0em;
  }

  #jobs .container > .imageCircle {
    left: 10px;
    top: 30px;
    width: 65px;
    height: 65px;
  }

  #jobs .container > .imageArrow {
    height: 65px;
    top: 25px;
  }
}
