.internationalization-container {
  display: flex;
  width: 60px;
  justify-content: space-around;
  padding: 0.5em;
}
.internationalization-container > span {
  height: 24px;
  width: 24px;
}
.internationalization-container .sp {
  background: url('../../../assets/img-lang/sp.png') center center no-repeat;
  background-size: contain;
}
.internationalization-container .en {
  background: url('../../../assets/img-lang/uk.png') center center no-repeat;
  background-size: contain;
}
