#footer {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: auto;
  max-width: 1368px;
  margin: 0 auto;
  padding: 2em;
}

#footer .data {
  flex: 3;
  border-right: 1px solid var(--color-light-gray-75);
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
  height: 90px;
  font-size: 0.95em;
}

#footer .data .container-detail-data {
  flex: 4;
  align-self: flex-end;
}

#footer .data .container-detail-data ul li {
  padding: 0.25em 0;
}

#footer .data .container-detail-data ul li span svg {
  margin-right: 0.5em;
}

#footer .data .container-social-network {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

#footer .data .container-social-network .socialNetwork {
  flex-direction: row;
  width: 100%;
  color: var(--color-black);
  align-items: flex-end;
}

#footer .info {
  flex: 2;
  padding-left: 1em;
  font-size: 0.85em;
}

/* Large devices (desktops, less than 1366px) */
@media screen and (max-width: 1366px) {
}

/* Large devices (desktops, less than 1280px) */
@media screen and (max-width: 1280px) {
  #footer .data .container-social-network .socialNetwork {
    margin: 0 0.25em;
  }

  #footer .data .container-social-network .socialNetwork > li {
    padding: 0 0.25em;
  }
}

/* Medium devices (tablets, less than 1024px) */
@media screen and (max-width: 1024px) {
  #footer {
    flex-direction: column-reverse;
    padding: 1.5em;
  }

  #footer .info {
    padding: 0 0 1em 0;
    border-bottom: 1px solid var(--color-light-gray-75);
  }

  #footer .data {
    padding: 1em 0 0 0;
    border-style: none;
    width: 100%;
  }
  #footer .data .container-detail-data {
    align-self: auto;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
}

/* Small devices (landscape phones, less than 640px) */
@media screen and (max-width: 640px) {
  #footer {
    padding: 1.5em 1.5em 0.5em 1.5em;
  }
  #footer .data {
    flex-direction: column;
  }
  #footer .data .container-social-network {
    align-items: center;
    height: 30px;
    padding: 1em 0;
  }
  #footer .data .container-social-network .socialNetwork {
    align-items: center;
    height: auto;
    width: 15%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
}
