.internationalization-container {
  display: flex;
  width: 75px;
  justify-content: space-around;
  padding: 0.5em;
}
.internationalization-container > span {
  height: 24px;
  width: 24px;
}
.internationalization-container .sp {
  background: url('../../assets/img-lang/sp.png') center center no-repeat;
  background-size: contain;
}
.internationalization-container .en {
  background: url('../../assets/img-lang/uk.png') center center no-repeat;
  background-size: contain;
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .internationalization-container {
    width: 90px;
  }
}
