:root {
  --color-orange-dark: rgb(255, 135, 0);
  --color-orange: rgb(255, 165, 0);
  --color-orange-transparent-middle: rgba(255, 165, 0, 0.65);
  --color-white: rgb(255, 255, 255);
  --color-white-75: rgb(255, 255, 255, 0.75);
  --color-white-to-bottom: linear-gradient(to top, transparent, var(--color-white) 25%);
  --color-orange-dark-to-right: linear-gradient(
    to right,
    rgb(255, 135, 0),
    rgba(255, 255, 255, 0.95)
  );
  --color-black: rgb(0, 0, 0);
  --color-light-gray-15: rgba(128, 128, 128, 0.15);
  --color-light-gray-75: rgba(128, 128, 128, 0.75);
  --color-light-gray: rgba(128, 128, 128, 1);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s 0s ease-in-out;
}

html,
body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

input,
button {
  outline: none;
}

// section {
//   padding: 0.5em 0;
// }

a {
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}
