#aboutUs {
  margin: 0 auto;
  font-size: 16px;
  min-height: 100vh;
  position: relative;

  & .backHome {
    position: absolute;
    bottom: 2em;
    right: 2em;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  > .container {
    display: flex;
    height: 100vh;

    > .info-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2em;
      position: relative;

      > .btn-moreInfo {
        padding: 1em 0;
        margin: 1em 0;
      }

      > .text {
        padding: 1em 0;
        margin: 1em 0;
      }

      & .imagePlane {
        position: absolute;
        top: 25%;
        right: 0;
        left: 30%;
        width: 200px;
        height: 150px;
        margin: auto;
        z-index: -1;
      }

      > .title {
        color: var(--color-orange-dark);
        font-size: 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        > span {
          & :nth-of-type(1) {
            margin-left: 0.85em;
            font-size: 0.85em;
            font-weight: 500;
          }
          &:nth-of-type(2) {
            font-weight: bold;
            font-size: 1.25em;
            transform: translateY(-14px);
          }
        }
      }
    }

    > .img-container {
      flex: 2;
      justify-content: flex-end;
      display: flex;
      position: relative;

      > .image {
        height: 100%;
        width: 100%;
      }

      > .socialNetwork {
        color: var(--color-white);
        position: absolute;
        right: 10px;
        bottom: 210px;
        height: 100px;
      }
    }
  }
}

// #region WIDTH
@media screen and (max-width: 1664px) {
  #aboutUs .container > .img-container > .socialNetwork {
    bottom: 250px;
  }
}
@media screen and (max-width: 1350px) {
}
@media screen and (max-width: 1264px) {
  #aboutUs .container > .info-container .imagePlane {
    top: 22%;
    left: 40%;
    width: 165px;
  }
}
@media screen and (max-width: 1024px) {
  #aboutUs .container {
    flex-direction: column;
    position: relative;
  }
  #aboutUs .container > .info-container {
    justify-content: flex-start;
  }
  #aboutUs .container > .info-container > .text {
    padding: 1em 0;
    margin: 0;
  }
  #aboutUs .container > .info-container .imagePlane {
    top: 3%;
    width: 150px;
    right: -20%;
  }
  #aboutUs .container > .info-container > .btn-moreInfo {
    z-index: 1;
    width: fit-content;
  }

  #aboutUs .container > .img-container {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    width: 80%;
    height: 60%;
    margin: auto;
  }
  #aboutUs .container > .img-container > .image {
    opacity: 0.15;
  }
  #aboutUs .container > .img-container > .socialNetwork {
    right: 0;
    bottom: 10%;
    color: gray;
  }
}
@media screen and (max-width: 768px) {
  #aboutUs .container > .img-container {
    top: 20%;
  }
}
@media screen and (max-width: 640px) {
  #aboutUs .container > .img-container > .socialNetwork {
    right: -25px;
  }
}
@media screen and (max-width: 500px) {
}
// #endregion

// #region HEIGHT
@media screen and (max-height: 1280px) {
}
@media screen and (max-height: 930px) and (min-width: 1025px) {
  #aboutUs .container > .info-container .imagePlane {
    margin: 0;
    right: 10%;
    left: auto;
    top: 22%;
    width: 150px;
  }
}
@media screen and (max-height: 904px) {
}
@media screen and (max-height: 768px) and (min-width: 1025px) {
  #aboutUs .container > .img-container > .socialNetwork {
    bottom: 140px;
    right: 15px;
  }
  #aboutUs .container > .info-container .imagePlane {
    top: 125px;
    width: 125px;
    right: 10%;
  }
}
@media screen and (max-height: 680px) {
  #aboutUs > .container > .info-container .imagePlane {
    top: 12%;
  }
  #aboutUs .container > .img-container > .socialNetwork {
    right: 15px;
    bottom: 90px;
  }
}
@media screen and (max-height: 648px) {
  #aboutUs > .container > .info-container .imagePlane {
    top: 70px;
    width: 150px;
    right: 0%;
  }
  #aboutUs .container > .img-container > .socialNetwork {
    bottom: 90px;
    right: 55px;
  }
}
@media screen and (max-height: 500px) {
  #aboutUs {
    font-size: 14px;
  }
  #aboutUs > .container > .info-container .imagePlane {
    top: 0px;
    width: 125px;
    right: -10%;
  }
  #aboutUs .container > .img-container > .socialNetwork {
    bottom: 15px;
    right: -10px;
  }
}
// #endregion
